<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Open Trainer</title>
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.5/css/bootstrap-dialog.min.css">
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css" >
    <link rel="stylesheet" href="/vendors/nprogress/nprogress.css" >
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>
    <link rel='stylesheet' href='../css/login.css'/>


</head>
<body>

<div class="container" id="container">
    <section class="header">
        <p><img class="logo" src="/img/logo_s.png"></p>
        <p><img class="logo-text" src="/img/login_text.png"></p>
    </section>
    <div class="login-body">
        <section class="login">
            <div>
                <span class="fa fa-user"></span>
                <input type="text" id="user-email" class="user-id" placeholder="E-Mail"/>
            </div>
            <div>
                <span class="fa fa-lock"></span>
                <input type="password" id="user-pwd" class="pwd" placeholder="Password"
                       pattern="(?=.*\d)(?=.*[!@#$%&*])(?=.*[a-z])(?=.*[A-Z]).{8,}"/>
            </div>
            <div>
                <button id='login'>Log In</button>
            </div>
        </section>
        <section class="register">
            <p>
                <a href="/pwd-reset" i18n="login.register.forgotPassword"></a>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;
                <!--<a href="/register" i18n="login.register.register"></a>-->
                <a id="register" i18n="login.register.register" data-toggle="modal" data-target="#modal-register"></a>
            </p>
        </section>
        <div class="hr"></div>
        <section class="auth-service">
            <div>
                <b><p i18n="login.register.3rdAuth"></p></b>
                <p>
                    <a href="/auth/facebook"><img class="service" src="./img/logo_facebook_s.png"></a>
                    <a href="/auth/instagram"><img class="service" src="./img/logo_insta_s.png"></a>
                    <a href="/auth/kakao"><img class="service" src="./img/logo_kakao_s.png"></a>
                </p>
            </div>
        </section>
    </div>
    <div class="arrow"><i class="fa fa-angle-double-down fa-2x" aria-hidden="true"></i></div>
    <div class="copyright">
        <p>©2016 All Rights Reserved. Open Trainer is an open platform for your health care.</p>
    </div>

    <!-- Modal Register -->
    <div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title"  i18n="login.register.register"></h3>
                </div>
                <div class="clearfix"></div>
                <div class="modal-body">
                    <form>
                        <div id="register" class="animate form registration_form">
                            <section class="register_content" id="register_content">
                                <form>
                                    <div class="btn-group btn-radio" data-toggle="buttons">
                                        <button class="btn btn-default" i18n="login.register.customer" name="userType" value="2" ></button>
                                        <button class="btn btn-default" i18n="login.register.trainer" name="userType" value="1"></button>
                                        <button class="btn btn-default" i18n="login.register.center" name="userType" value="3"></button>
                                    </div>
                                    <div>
                                        <input type="text" class="form-control" placeholder="Name" name="user_name" required="true" />
                                    </div>
                                    <div>
                                        <input type="email" class="form-control" placeholder="Email" name="user_email" required="true" />
                                    </div>
                                    <div>
                                        <input type="password" class="form-control" placeholder="Password" name="password" required="true" />
                                    </div>
                                    <div>
                                        <input type="password" class="form-control" placeholder="Password Again" name="re-password" required="true" />
                                    </div>
                                </form>
                            </section>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <form>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n="comm.close"></button>
                        <button type="button" class="btn btn-primary" id="btn-register" i18n="comm.register"></button>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- Modal Register -->



    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
    <script src="/vendors/fastclick/lib/fastclick.js"></script>
    <script src="/vendors/nprogress/nprogress.js"></script>
    <script src="/js/common/custom.min.js"></script>
    <script src="/js/common/service.js"></script>
    <script src="/js/common/common.js"></script>
    <!--<script src="../js/views/login.js"></script>-->




    <script type="text/javascript">
        $(document).ready(init);

        $("input:radio").change(function(){
            alert($(this).val());
        });

        function init() {
            $(".login-body").hide();
            comm.setI18nMessage(DEFAULT_LANG);
            comm.applyI18n("container");
            $(".header").animate({ "padding-top": "100px" }, 1500, "swing");
        }

        setInterval("$('.arrow').fadeOut(1500).fadeIn(1500);");

        $( ".arrow" ).click(function() {
            $(".header").css({ "padding-top": "0px" });
            $(".login-body").css({"visibility":"visible"}).fadeIn(1500);
            $('.arrow').detach();
        });


        $("#login").click(function () {
            var params = {};
            params.id = $('#user-email').val();
            params.password = $('#user-pwd').val();

            if(params.id == ""){
                comm.popMsg("login.login.nonId", "W")
            } else if (params.password == "") {
                comm.popMsg("login.login.nonPwd", "W")
            } else {
                function successHandler(resultData) {
                    //alert(JSON.stringify(resultData));

                    if (resultData.isAuthenticated) {
                        var url = "/auth/welcome";
                        $(location).attr('href', url);
                    } else {
                        if(resultData.unregistered){
                            comm.popMsg("login.login.notRegistered", "W");
                        } else if(resultData.standby) {
                            comm.popMsg("login.login.notVerified", "W");
                        } else {
                            comm.popMsg("login.login.failed", "W");
                        }
                    }
                }
                service.login(params, successHandler);
            }

        });

        $("#register").click(function () {
            comm.clearFormData("register_content");
        });


        $("#btn-register").click(function () {
            var params = comm.makeFormData("register_content");
//            alert(JSON.stringify(params));

            function successHandler(resultData) {
                //alert("Result Data: " + JSON.stringify(resultData));
                if (resultData.sentAuthMail) {
                    function cb(){
                        var url = "/";
                        $(location).attr('href', url);
                    }
                    comm.popMsg("login.login.pleaseVerified", "I", cb);
                } else if(resultData.isRegistered){
                    comm.popMsg("login.login.isRegistered", "W");
                }
            }
            service.registerWithEmail(params, successHandler);
        });




    </script>
</div>
</body>
</html>
