<!DOCTYPE html>
<html lang="en">
<!--
    Introduction & Tutorial
-->
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108664644-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-108664644-1');
    </script>
    <!-- /Global site tag (gtag.js) - Google Analytics -->

    <!--Google add sense-->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9826976710647564",
            enable_page_level_ads: true
        });
    </script>
    <!--/Google add sense-->


    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Open Study Japanese</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.9.0/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.0/sweetalert2.min.css">


    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/common.css" rel="stylesheet">
    <link href="css/about.css" rel="stylesheet">


</head>



<body id="contents">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" i18n="index.title"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/char" i18n="comm.character"></a></li>
                <li><a href="/word" i18n="comm.word"></a></li>
                <li><a href="/kanji" i18n="comm.kanji"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about" i18n="index.about"></a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle"
                       data-toggle="dropdown"
                       href="#">
                        <i class="fa fa-globe fa-lg" aria-hidden="true"></i>
                        <span i18n="comm.language"></span>
                    </a>

                    <ul class="dropdown-menu drop-language">
                        <li><a tabindex="-1" value="en">English</a></li>
                        <li><a tabindex="-1" value="ko">Korean</a></li>
                    </ul>
                </li>
                <!--<li><a href="#" i18n="index.login"></a></li>-->
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<!-- Navigation End-->



<!-- Header -->
<header class="intro-header">
    <div class="intro-header-wrapper">
        <div class="container">
            <div class="intro-message-block-top"></div>
            <div class="intro-message">
                <h3 i18n="about.title1"></h3>
                <h3 i18n="about.title2"></h3>
            </div>
            <div class="intro-message-block-bottom"></div>
        </div>
    </div>
</header>
<!-- Header End-->



<!-- Page Content -->
<section class="content-section">
    <div class="container">
        <div class="about">
            <h3 i18n="about.aboutUs.title"></h3>
            <p i18n="about.aboutUs.p1"></p>
            <p i18n="about.aboutUs.p3"></p>
            <p i18n="about.aboutUs.p4"></p>
            <p class="oblique" i18n="about.aboutUs.p6"></p>
            <p i18n="about.aboutUs.p9"></p>
            <div class="catch-phrase">
                <h3 i18n="about.aboutUs.keyTitle"></h3>
                <p i18n="about.aboutUs.keyP1">
                <p i18n="about.aboutUs.keyP2">
                </p>
            </div>
            <p i18n="about.aboutUs.p11"></p>
            <p i18n="about.aboutUs.p12"></p>
        </div>

        <div class="tutorial-wrapper">
            <div class="tutorial">
                <div class="toturial-container">
                    <h3 class="title" i18n="about.tutorial.title"></h3>
                </div>
                <div class="summary">
                    <p i18n="about.tutorial.summary1"></p>
                    <p i18n="about.tutorial.summary2"></p>
                </div>
                <div class="character">
                    <h3 i18n="comm.character"></h3>
                    <hr>
                    <p i18n="about.tutorial.character.p1"></p>
                    <div class="step">
                        <p i18n="about.tutorial.character.step1"></p>
                        <p i18n="about.tutorial.character.step2"></p>
                        <p i18n="about.tutorial.character.step3"></p>
                    </div>
                    <p i18n="about.tutorial.character.p2"></p>
                    <img class="img-char" id="img-tutorial-01" src="/img/tutorial-01-en.png" />
                    <img class="img-char" id="img-tutorial-02" src="/img/tutorial-02-en.png" />

                </div>
                <div class="word-kanji">
                    <h3><span i18n="comm.word"></span>/<span i18n="comm.kanji"></span></h3>
                    <hr>
                    <li i18n="about.tutorial.word-kanji.p1"></li>
                    <li i18n="about.tutorial.word-kanji.p2"></li>
                    <div class="step">
                        <p i18n="about.tutorial.word-kanji.step1"></p>
                        <p i18n="about.tutorial.word-kanji.step2"></p>
                        <p i18n="about.tutorial.word-kanji.step3"></p>
                    </div>
                    <p i18n="about.tutorial.word-kanji.p3"></p>
                    <img class="img-word-kanji" id="img-tutorial-03" src="/img/tutorial-03-en.png" />
                </div>
            </div>
        </div>
        <div class="donate">
            <h3 i18n="about.donate.title"></h3>
            <p i18n="about.donate.p1"></p>
            <p i18n="about.donate.p2"></p>
            <p i18n="about.donate.p3"></p>
            <div class="info-wrapper">
                <div class="info">
                    <h4 i18n="about.donate.name"></h4>
                    <p i18n="about.donate.owner"></p>
                    <p i18n="about.donate.email"></p>
                    <p>Copyright © Open Study Japanese 2017. All Rights Reserved</p>
                </div>
            </div>
        </div>
        <div claas="footer-block"></div>

    </div>
</section>
<!-- /.Page Content -->






<!-- Bootstrap core JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.9.0/bootstrap-slider.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.0/sweetalert2.min.js"></script>


<!-- Custom defined .js -->
<script src="vendor/jquery/jquery.session.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="/js/common/custom.min.js"></script>
<script src="/js/common/service.js"></script>
<script src="/js/common/common.js"></script>


<script type="text/javascript">
    var LANG = $.session.get("lang");

    function init() {
        setLanguage();
        setTutorialImg();
        comm.setI18nMessage(LANG);
        comm.applyI18n("#contents");
    }
    function setLanguage() {
        if (!LANG) {
            var browserLang = $.cookie('browser_lang');
            if (browserLang) {
                $.session.set("lang", browserLang);
                LANG = browserLang;
            } else {
                $.session.set("lang", "en");
                LANG = "en";
            }
        }
    }
    $('.drop-language li a').on('click', function () {
        var lang = $(this).attr("value");
        $.session.set("lang", lang);
        LANG = lang;
        setTutorialImg();
        comm.setI18nMessage(lang);
        comm.applyI18n("#contents");
        getLevelWords();
        $('.navbar-toggle').click();
    });

    function setTutorialImg(){
        $("#img-tutorial-01").attr("src", "/img/tutorial-01-"+LANG+".png");
        $("#img-tutorial-02").attr("src", "/img/tutorial-02-"+LANG+".png");
        $("#img-tutorial-03").attr("src", "/img/tutorial-03-"+LANG+".png");
    }

    init();

</script>

</body>
</html>
